## Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to
work with the structure of the data.

### Tasks To Be Performed:
1. Create a list named ‘myList’ that has the following elements: 10, 20, 30,‘apple’, True, 8.10:
  - Now in the ‘myList’, append these values: 30, 40
  - After that, reverse the elements of the ‘myList’ and store that in ‘reversedList’
2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’, ‘information’ and ‘text’:
  - After that, eliminate the ‘text’ value from the dictionary
  - Add ‘features’ in the dictionary
  - Fetch the ‘data’ element from the dictionary and display it in the output
3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.
4. Create another tuple named numeric_tuple consisting of only integer values 10, 20, 30, 40, 50:
  - Find the minimum value from the numeric_tuple
  - Concatenate my_tuple with numeric_tuple and store the result in r1
  - Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’
5. Create 2 sets with the names set1 and set2, where set1 contains {1,2,3,4,5} and set2 contains {2,3,7,6,1} Perform the below operation:
  - set1 union set2
  - set1 intersection set2
  - set1 difference set2

In [3]:
#Create a list named ‘myList’ that has the following elements: 10, 20, 30,‘apple’, True, 8.10:
mylist = [10,20,30,'apple',True, 8.10]

#Now in the ‘myList’, append these values: 30, 40
mylist.append(30)
mylist.append(40)

#reverse the elements of the ‘myList’ and store that in ‘reversedList’
reversedList = mylist[::-1]

print('mylist: ', mylist)
print('\nReversed list: ', reversedList)

mylist:  [10, 20, 30, 'apple', True, 8.1, 30, 40]

Reversed list:  [40, 30, 8.1, True, 'apple', 30, 20, 10]

In [10]:
## Create a dictionary with key values as 1, 2, 3 and the values as ‘data’, ‘information’ and ‘text’:

mydict={1: 'data',
       2: 'information',
       3: 'text'} 

mydict

{1: 'data', 2: 'information', 3: 'text'}

In [11]:
# After that, eliminate the ‘text’ value from the dictionary

mydict.pop(3)

print(mydict)

{1: 'data', 2: 'information'}

In [12]:
#Add ‘features’ in the dictionary
mydict[3] = 'features'
print(mydict)

{1: 'data', 2: 'information', 3: 'features'}

In [13]:
#Fetch the ‘data’ element from the dictionary and display it in the output
mydict.get(1)

'data'

In [14]:
#Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.
my_tuple = (1,2,3, 'apple', 'mango')
my_tuple

(1, 2, 3, 'apple', 'mango')

In [21]:
##Create another tuple named numeric_tuple consisting of only integer values 10, 20, 30, 40, 50:
numeric_tuple = (10,20,30,40,50)
print('My Tuple: ', my_tuple)
print('Numeric Tuple: ', numeric_tuple)
#Find the minimum value from the numeric_tuple
print('Minimum Value: ',min(numeric_tuple))
#Concatenate my_tuple with numeric_tuple and store the result in r1
r1 = my_tuple + numeric_tuple
print('Concatenated Tuple: ', r1)
#Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli
newdupli = my_tuple*2
print('Duplicated Tuple: ', newdupli)

My Tuple:  (1, 2, 3, 'apple', 'mango')
Numeric Tuple:  (10, 20, 30, 40, 50)
Minimum Value:  10
Concatenated Tuple:  (1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
Duplicated Tuple:  (1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [26]:
##Create 2 sets with the names set1 and set2, where set1 contains {1,2,3,4,5} and set2 contains {2,3,7,6,1} Perform the below operation:
set1 = {1,2,3,4,5}
set2 = {2,3,7,6,1}

print('Set 1: ', set1)
print('Set 2: ', set2)

#set1 union set2
union = set1.union(set2)
print('Set1 union Set2: ', union)

#set1 intersection set2
intersection = set1.intersection(set2)
print('Set1 intersection Set2: ', intersection)

#set1 difference set2
diff = set1.difference(set2)
print('Set1 difference Set2: ', diff)

Set 1:  {1, 2, 3, 4, 5}
Set 2:  {1, 2, 3, 6, 7}
Set1 union Set2:  {1, 2, 3, 4, 5, 6, 7}
Set1 intersection Set2:  {1, 2, 3}
Set1 difference Set2:  {4, 5}