## Problem Statement:
Consider yourself to be Sam who is a software engineer. He has been asked to build an employee management app. You have to use
the OOPs concept to build a few classes as outlined in the steps below

**Dataset: data.csv**

### Tasks To Be Performed:
1. Load the dataset using pandas
2. Extract data from years experience column is a variable named X
3. Extract data from the salary column is a variable named Y
4. Divide the dataset into two parts for training and testing in 66% and 33% proportion
5. Create and train Linear Regression Model on training set
6. Make predictions based on the testing set using the trained model
7. Check the performance by calculating the r2 score of the model

In [24]:
import pandas as pd
import numpy as np

In [3]:
##Load the dataset using pandas
df = pd.read_csv("data.csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [32]:
##Extract data from years experience column is a variable named X
#X = df['YearsExperience']
X = np.array(df['YearsExperience']).reshape((-1,1))
X.shape

(30, 1)

In [33]:
##Extract data from the salary column is a variable named Y
Y = np.array(df['Salary']).reshape((-1,1))
Y.shape

(30, 1)

In [30]:
##Divide the dataset into two parts for training and testing in 66% and 33% proportion
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y,
                                                   test_size=0.33)

In [31]:
## Create and train Linear Regression Model on training set
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [34]:
#Make predictions based on the testing set using the trained model
y_pred = model.predict(X_test)

In [51]:
pred_df = pd.DataFrame({"y_true": y_test.reshape(y_test.shape[0]),
             "y_pred": y_pred.reshape(y_pred.shape[0])})
pred_df['residual'] = pred_df['y_true'] - pred_df['y_pred']

pred_df.head()

     y_true         y_pred      residual
0   91738.0   90530.041432   1207.958568
1  121872.0  127167.270012  -5295.270012
2   46205.0   36069.296245  10135.703755
3  101302.0  101422.190469   -120.190469
4   55794.0   62804.571155  -7010.571155

In [59]:
##Check the performance by calculating the r2 score of the model
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
score

0.9566559132916784